
@import './complements/reset.css';
@import './complements/navbar.css';
body {
 
   
   background-color: azure;
}


.carousel-item img {
   height: 400px; /* Ajuste a altura conforme necessário */
   object-fit: cover;
   margin-top: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   background-color: transparent; /* Cor do ícone de navegação */
}

.carousel-control-prev,
.carousel-control-next {
   width: 5%; 
}

.carousel-indicators li {
   background-color: rgba(0, 0, 0, 0.5); 
   border-radius: 50%; 
   width: 12px; 
   height: 12px;
}
.p1{
   margin-left: 60px;
   margin-top: 80px;
   display: flex;
   justify-content: space-around;

}
.p1 p{
   font-size: 50px;    
}

#texto{
   opacity: 100;
   transform: translateY(50px);
   transition: opacity 1s ease, transform 1s ease;
margin-top: 60px;
}


.card-container {
   display: flex;
   gap: 80px;
   margin-top: 50px;
}

.card {
   width: 350px;
   border: 1px solid #ccc;
   border-radius: 8px;
   overflow: hidden;
   opacity: 0; 
   transform: translateY(50px); 
   transition: opacity 0.5s ease, transform 0.5s ease; 
   box-shadow: 10px 10px 10px #ccc;
}


  
.card img {
   width: 100%;
   height: auto;
}

.card .text {
   padding: 15px;
   text-decoration: none;
   text-align: center;
   font-size: 25px;
   color: #9D8BB3;
}

