
@import './complements/reset.css';
@import './complements/navbar.css';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.animar{
   
        opacity: 100;
        transform: translatex(50px);
        transition: opacity 1s ease, transform 1s ease;
     
     
     
} 
.container h1{
    margin-top: 30px;
    color: #333333;
}
.container p{
    margin: 60px;
    font-size: 20px;
}
